/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

/* Change Slick slider arrows color */
.slick-prev,
.slick-next {
	color: transparent;
	border: transparent;
	outline: transparent;
	background: transparent;
	&:hover,
	&:focus {
		color: transparent;
		background: transparent;
	}
	&::before {
		color: black;
	}
}
