/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.wp-block-create-block-related-post-slider-block {
	color: #222;
	padding: 2px;

	.related-post-slider-item {
		padding: 8px;

		.term,
		.title {
			margin: 10px 0;
		}

		.meta {
			font-size: 14px;
		}

		a {
			text-decoration: none;
		}
	}
}
